{% extends 'index.html' %}

{% block title %}
Bienvenido
{% endblock %}

{% block body %}
<div class=" vh-100">
                        <div class="container">
                            <div class="d-flex justify-content-center">
                                <p class="display-1 pt-5">Bienvenido!</p>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center mt-3">
                            <img src="https://www.shutterstock.com/image-photo/portrait-confident-man-arms-crossed-260nw-2333089669.jpg" alt="test - no soy ioooo">
                        </div>
                        <div class="container mt-2">
                            <div class="d-flex">
                                <p class="text-center pt-4 fw-semibold">Hola, me llamo Marcos y soy programador. Estoy estudiando una Tecnicatura Universitaria en Programacion en la Universidad Tecnologica Nacional de Buenos Aires. Las areas de programacion que mas me gustan son el desarrollo web y automatizaciones, ambas con Python y sus librerias</p>
                            </div>
                        </div>
                        
</div>

<!--   Proyectos   -->
<div class="container">
    <div class="row">
        <div class="col-12">
            <div>
                <h1 class="display-4">Proyectos</h1>
            </div>
            <div class="col-10 offset-1 col-md-4 offset-md-0 card d-inline-flex m-2" style="width: 16rem;">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQEPTUa1LFxO-FWLtN5SX1uhRId2GKnigkYIw&s" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">Lorem ipsum dolor sit amet.</h5>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil similique dolorem ullam quos quisquam aut officia voluptate laborum, eligendi minima unde voluptatem eos est. Quisquam sapiente ipsam quidem dolorum beatae!</p>
                </div>
            </div>
            <div class="col-10 offset-1 col-md-4 offset-md-0 card d-inline-flex m-2" style="width: 16rem;">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQEPTUa1LFxO-FWLtN5SX1uhRId2GKnigkYIw&s" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">Lorem ipsum dolor sit amet.</h5>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil similique dolorem ullam quos quisquam aut officia voluptate laborum, eligendi minima unde voluptatem eos est. Quisquam sapiente ipsam quidem dolorum beatae!</p>
                </div>
            </div>
            <div class="col-10 offset-1 col-md-4 offset-md-0 card d-inline-flex m-2" style="width: 16rem;">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQEPTUa1LFxO-FWLtN5SX1uhRId2GKnigkYIw&s" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">Lorem ipsum dolor sit amet.</h5>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil similique dolorem ullam quos quisquam aut officia voluptate laborum, eligendi minima unde voluptatem eos est. Quisquam sapiente ipsam quidem dolorum beatae!</p>
                </div>
            </div>
        </div>
    </div>
</div>
           
<div class="container pt-5">
    <div class="row">
        <div class="col-12">

            <div class="container">
                <h1 class="display-6 border-bottom pb-1">Tecnicatura Universitaria en Programacion</h1>
                <p class="ps-3 fs-5 opacity-50">En: UTN FRBA - Desde: Marzo 2026 - Hasta: Actualidad</p>
                <p class="ps-3 pb-2 border border-top-0 border-end-0 fs-5 d-inline-flex">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus inventore voluptas, optio perferendis quas voluptate earum id totam rem minus consequatur, architecto autem officiis quisquam dolorum a dolore eveniet consequuntur dicta consectetur. Nihil eum minus sint quasi consequatur, illum itaque beatae asperiores in consequuntur, temporibus corporis deserunt repellendus dicta! Repudiandae.</p>
            </div>

            <div class="container">
                <h1 class="display-6 border-bottom pb-1">Conduccion y gestion operativa</h1>
                <p class="ps-3 fs-5 opacity-50">En: Colegio Militar de la Nacion - Desde: Febrero 2024 - Hasta: Marzo 2025</p>
                <p class="ps-3 pb-2 border border-top-0 border-end-0 fs-5 d-inline-flex">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus inventore voluptas, optio perferendis quas voluptate earum id totam rem minus consequatur, architecto autem officiis quisquam dolorum a dolore eveniet consequuntur dicta consectetur. Nihil eum minus sint quasi consequatur, illum itaque beatae asperiores in consequuntur, temporibus corporis deserunt repellendus dicta! Repudiandae.</p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <h1 class="display-3">Experiencia laboral</h1>
</div>

<div class="container">
    <h1 class="display-3">Contacto</h1>
</div>

{% endblock %}
                           