{% extends 'index.html' %}

{% block title %}
Welcome
{% endblock %}

{% block body %}

                            <div class="d-flex justify-content-center">
                                <p class="h1 pt-5">Welcome!</p>
                            </div>
                        </div>
                        <div class="container">
                            <div class="d-flex">
                                <p class="text-center pt-4">Hi, my name is Marcos and I'm a programmer. I'm currently studying for a University Technical Degree in Programming at the National Technological University of Buenos Aires. My favorite areas of programming are web development and automation, both using Python and its libraries.</p>
                            </div>
                        </div>
                        


{% endblock %}